---
import "~/styles/base.css"

import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="@mostlymayhem" />
    <meta name="creator" content="@mostlymayhem" />
    <meta name="keywords" content="Glass,Home,Decor,Terrariums,Handmade" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:creator" content="@notchxrliee" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    />
    <ViewTransitions />
  </head>
  <body class="h-screen flex flex-col items-center justify-center">
    <img
      src="/vhs.gif"
      alt="VHS Effect"
      class="absolute top-0 left-0 w-screen h-screen motion-reduce:hidden opacity-25 pointer-events-none z-50"
    />
    <div
      class="h-[calc(100vh-5rem)] w-[calc(100vw-5rem)] sm:h-[calc(100vh-10rem)] sm:w-[calc(100vw-10rem)] bg-secondary border flex flex-col overflow-hidden relative"
    >
      <header class="h-14 p-5 border-b flex justify-between">
        <div class="flex gap-2.5">
          <button
            class="h-4 w-4 rounded-full border hover:bg-primary active:bg-neutral-300 active:border-neutral-300"
          ></button>
          <button
            class="h-4 w-4 rounded-full border hover:bg-primary active:bg-neutral-300 active:border-neutral-300"
          ></button>
          <button
            class="h-4 w-4 rounded-full border hover:bg-primary active:bg-neutral-300 active:border-neutral-300"
          ></button>
        </div>
        <span class="leading-none font-mono font-extralight tracking-tighter">
          {title}
        </span>
      </header>
      <main
        class="h-full flex flex-col items-center justify-center overflow-hidden"
      >
        <div class="p-10 md:p-16 overflow-auto flex flex-col gap-10">
          <slot />
        </div>
      </main>
      <footer
        class="sticky bottom-0 p-5 w-full flex gap-5 items-center justify-between"
      >
        <div
          class="flex gap-5 leading-none font-mono font-extralight tracking-tighter"
        >
          <a
            href="/"
            class="pb-1 border-b hover:text-neutral-300"
            data-astro-prefetch>index</a
          >
          <a
            href="/projects"
            class="pb-1 border-b hover:text-neutral-300"
            data-astro-prefetch>projects</a
          >
          <a
            href="https://github.com/notcharliee"
            target="_blank"
            referrerpolicy="no-referrer"
            class="pb-1 border-b hover:text-neutral-300">github</a
          >
        </div>
        <div
          class="hidden md:block leading-none font-mono font-extralight tracking-tighter"
        >
          <span>copyright {new Date().getFullYear()}</span>
        </div>
      </footer>
    </div>
  </body>
</html>
